.header-container {
    background-color: #181818; 
    padding: 0;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
    width: 100%; 
    transition: all 0.3s ease; 
}

.header-logo {
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    gap: 20px;
    font-weight: 600;
    color: #8d3535;
    letter-spacing: 1px; 
    position: relative;
}

.header-logo h1 {
    font-size: 48px;
    font-family: "Basique";
    transition: all 0.5s ease;
    z-index: 1; 
}

.header-logo img {
    width: 80px;
    height: 80px;
    transition: all 1s ease; 
    position: relative;
    z-index: 2; 
}

.header-logo:hover h1 {
    transform: translateX(-30%); 
    color: #181818; 
}

.header-logo:hover img {
    transform: translateX(120px) rotate(360deg) scale(1.5); 
}

.header-button {
    background-color: #861515; 
    color: white;
    border: none;
    padding: 12px 20px;
    margin-right: 20px;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.header-button:hover {
    background-color: #721818; 
    transform: translateY(-3px); 
}

.header-button:active {
    background-color: #721818; 
    transform: translateY(0); 
}
