.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  background-color: #121212;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1600px;     
  margin: 0 auto;           
}

.header-container,
.chat-container {
  width: 100%;
  max-width: 1600px;
  margin-top: 20px;
}

input,
button {
  font-family: 'BAHNSCHRIFT', sans-serif;
}

.loading {
  color: white;
  text-align: center;
  font-size: 18px;
}
